<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">    
    <title>Dynamic Display</title>
</head>
<body class="bg-gray-100 p-4">

    <nav class="bg-white p-4 rounded shadow mb-4">
        <div class="flex justify-between items-center">
            <div class="p-4 rl-auto">
                <a class="text-xl font-bold text-green-500">Administration page</a>
            </div>
            <div class="p-4 ml-auto">
                <a class="text-l font-bold text-red-500" href="/">To main page</a>
            </div>
        </div>
    </nav>      
    
    <nav class="bg-white p-4 rounded shadow mb-4">
        <div class="flex items-center space-x-4 mb-4">
            <button hx-get="/reset_db" hx-target="#ide" class="bg-pink-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Reset Candle database
            </button>
            <div class="text-gray-700 font-medium">
                This will clear all the crypto and crypto summary database and request a new refill from the provider
            </div>
        </div>
        

        <div class="flex items-center space-x-4">
            <button hx-get="/admin_order" hx-target="#ide" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                Manage orders for admin
            </button>
            <div class="text-gray-700 font-medium">
                This will serve all orders for admin based on the last candles
            </div>
        </div>        

        <div id="ide" class="mt-4"></div>

    </nav>

</body>
</html>