<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">    
    <title>Index</title>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
          </div>
        </div>
      </nav>  


    Stocks
    {{range .stockPages }}        
        <div id={{.Name}} class="clickable-div" hx-get="/detailed/{{.Name}}" hx-target="body">{{.Page}}</div>    
    {{end}}
    Fxs
    {{range .fxPages }}        
        <div id={{.Name}} class="clickable-div" hx-get="/detailed/{{.Name}}" hx-target="body">{{.Page}}</div>    
    {{end}}
    Commodities
    {{range .commodityPages }}        
        <div id={{.Name}} class="clickable-div" hx-get="/detailed/{{.Name}}" hx-target="body">{{.Page}}</div>    
    {{end}}
    Cryptos
    {{range .cryptoPages }}        
        <div id={{.Name}} class="clickable-div" hx-get="/detailed/{{.Name}}" hx-target="body">{{.Page}}</div>    
    {{end}}
</body>
</html>
