<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    Stocks
    {{range .stockPages }}        
        <div id={{.Name}}>{{.Page}}</div>    
    {{end}}
    Fxs
    {{range .fxPages }}        
        <div id={{.Name}}>{{.Page}}</div>    
    {{end}}
    Commodities
    {{range .commodityPages }}        
        <div id={{.Name}}>{{.Page}}</div>    
    {{end}}
    Cryptos
    {{range .cryptoPages }}        
        <div id={{.Name}}>{{.Page}}</div>    
    {{end}}
</body>
</html>
