<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Dynamic Display</title>
    <script>
        function showDiv(selectElement, pagesArray) {
            const selectedValue = selectElement.value;
            const divs = document.querySelectorAll(`#${selectElement.dataset.target} div`);
            pagesArray.forEach(page => {
                divs.forEach(div => {                    
                    if (page.Name === div.id) {
                        if (div.id === selectedValue) {                            
                            div.style.display = 'block';
                        } else {                            
                            div.style.display = 'none';
                        }
                    }
                });
            });
        }
    </script>
</head>
<body class="bg-gray-100 p-4">
    <div class="grid grid-cols-2 gap-4 h-screen">
        <div class="p-4 bg-white rounded shadow mb-4">
            <div class="flex items-center mb-4">
                <select class="p-1 text-sm border rounded bg-gray-200" data-target="stockPages" onchange="showDiv(this, {{.stockPages}})">
                    {{range .stockPages}}
                        <option value="{{.Name}}">{{.Name}}</option>
                    {{end}}
                </select>                
            </div>
            <div id="stockPages" class="space-y-4">
                {{range $index, $element := .stockPages }}        
                    <div id="{{$element.Name}}" hx-get="/detailed/{{$element.Name}}" hx-target="body" style="display: {{if eq $index 0}}block{{else}}none{{end}};">{{$element.Page}}</div>    
                {{end}}
            </div>
        </div>
        <div class="p-4 bg-white rounded shadow mb-4">
            <div class="flex items-center mb-4">
                <select class="p-1 text-sm border rounded bg-gray-200" data-target="fxPages" onchange="showDiv(this, {{.fxPages}})">
                    {{range .fxPages}}
                        <option value="{{.Name}}">{{.Name}}</option>
                    {{end}}
                </select>                
            </div>
            <div id="fxPages" class="space-y-4">
                {{range $index, $element := .fxPages }}        
                    <div id="{{$element.Name}}" hx-get="/detailed/{{$element.Name}}" hx-target="body" style="display: {{if eq $index 0}}block{{else}}none{{end}};">{{$element.Page}}</div>    
                {{end}}
            </div>
        </div>
        <div class="p-4 bg-white rounded shadow mb-4">
            <div class="flex items-center mb-4">
                <select class="p-1 text-sm border rounded bg-gray-200" data-target="commodityPages" onchange="showDiv(this, {{.commodityPages}})">
                    {{range .commodityPages}}
                        <option value="{{.Name}}">{{.Name}}</option>
                    {{end}}
                </select>                
            </div>
            <div id="commodityPages" class="space-y-4">
                {{range $index, $element := .commodityPages }}        
                    <div id="{{$element.Name}}" hx-get="/detailed/{{$element.Name}}" hx-target="body" style="display: {{if eq $index 0}}block{{else}}none{{end}};">{{$element.Page}}</div>    
                {{end}}
            </div>
        </div>
        <div class="p-4 bg-white rounded shadow mb-4">
            <div class="flex items-center mb-4">
                <select class="p-1 text-sm border rounded bg-gray-200" data-target="cryptoPages" onchange="showDiv(this, {{.cryptoPages}})">
                    {{range .cryptoPages}}
                        <option value="{{.Name}}">{{.Name}}</option>
                    {{end}}
                </select>                                
            </div>
            <div id="cryptoPages" class="space-y-4">
                {{range $index, $element := .cryptoPages }}        
                    <div id="{{$element.Name}}" hx-get="/detailed/{{$element.Name}}" hx-target="body" style="display: {{if eq $index 0}}block{{else}}none{{end}};">{{$element.Page}}</div>    
                {{end}}
            </div>
        </div>
    </div>
</body>
</html>