<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">    
    <link href="/static/styles.css" rel="stylesheet">
    <title>Dynamic Display</title>
</head>
<body class="bg-gray-100 p-4">

    <nav class="bg-white p-4 rounded shadow mb-4">
        <div class="flex justify-between items-center">
            <div class="p-4 text-xl font-bold text-blue-500">
              Welcome {{.name}}!
            </div>
            <div class="p-4 ml-auto flex items-center space-x-4">
                <div>
                    <a class="text-l font-bold text-red-500" href="/">To main page</a>
                </div>
                <div>
                    <a class="text-l font-bold text-blue-500" href="/transactions">Transactions</a>
                </div>
                <div>
                    <a class="text-l font-bold text-blue-500" href="/user_settings">User settings</a>
                </div>
                <div>
                    <a class="text-l font-bold text-green-500" href="/logout">Logout</a>
                </div>
            </div>
          </div>
    </nav>  

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div id="Assets" class="p-4 bg-white rounded shadow">     
            <h2 class="text-l font-bold text-blue-600 my-4">Portfolio</h2>
                <table class="min-w-full bg-blue-50">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider">Item</th>
                            <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider">Volume</th>
                            <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider">Actual price</th>
                            <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider">Value</th>                            
                            <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider">Profit</th>
                            <th class="py-1 px-1 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider">
                                <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-0.5 px-0.5 rounded tooltip">
                                    Chart
                                    <span class="tooltiptext">Candle chart of this asset</span>
                                </button> 
                            </th>
                            <th class="py-1 px-1 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider">                                
                                <button  type="submit" class="bg-red-600 hover:bg-red-700 text-white font-bold py-0.5 px-1 rounded tooltip">
                                    Clear
                                    <span class="tooltiptext">Create Market Sell for all of this asset</span>
                                </button>                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .assets}}
                        <tr>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.Item}}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.Volume}}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.Price}}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.Value}}</td>                            
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.Profit}}</td>
                            <td class="py-1 px-1 border-b border-gray-200 text-smaller">
                                <button class="bg-green-300 hover:bg-green-700 text-white font-bold py-0.5 px-0.5 rounded" onclick="handleChangeChartButtonClick('{{.ItemPure}}')">
                                    Chart
                                </button>                                
                            </td>
                            <td class="py-1 px-1 border-b border-gray-200 text-smaller">
                                <button  type="submit" class="bg-red-300 hover:bg-red-700 text-white font-bold py-0.5 px-1 rounded" onclick="handleClearButtonClick('{{.ItemPure}}')">
                                    Clear
                                </button>
                            </td>
                        </tr>
                        {{end}}
                        <tr>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.usd.Item}}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.usd.Volume}}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.usd.Price}}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.usd.Value}}</td>                            
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.usd.Profit}}</td>
                        </tr>
                        <tr>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.totalAssets.Item}}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller"> - </td>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller"> - </td>
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.totalAssets.Value}}</td>                            
                            <td class="py-2 px-4 border-b border-gray-200 text-smaller">{{.totalAssets.Profit}}</td>
                            <td class="py-1 px-1 border-b border-gray-200 text-smaller">
                                <button class="bg-green-300 hover:bg-green-700 text-white font-bold py-0.5 px-0.5 rounded" onclick="handleChangeChartButtonClick('Total')">
                                    Chart
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>                
        </div>
        <div id="barChart" class="p-4 bg-white rounded shadow">
            {{range $index, $element := .charts }}        
                <div id="chart-{{$element.Name}}" 
                     class="{{if ne $index 0}}hover-text{{end}}" 
                     style="display: {{if eq $index 0}}block{{else}}none{{end}};"
                     {{if gt $index 0}}onclick="window.open('/detailed/{{$element.Name}}', '_blank')"{{end}}>
                     {{$element.Page}}
                </div>    
            {{end}}            
        </div>
      </div>
      <div id="orders" class="p-4 bg-white rounded shadow">
        <form id="orderForm" class="d-flex flex-row align-items-start flex-wrap p-3" style="background-color: #e0f7fa;">
            <div class="mb-3 me-3 d-flex flex-column">
                <label for="assetList" class="form-label p-1 tooltip" style="background-color: #58a8d3; color: white;">
                    Asset
                    <span class="tooltiptext">What do you want to trade?</span>
                </label>
                <select id="assetList" name="assetList" class="form-select">
                    {{range $key, $value := .candleSummary}}
                        <option value="{{$key}}">{{$key}}</option>
                    {{end}}                    
                </select>                
            </div>
            <div class="mb-3 me-3 d-flex flex-column">
                <label for="orderType" class="form-label p-1 tooltip" style="background-color: #58a8d3; color: white;">
                    Order Type
                    <span class="tooltiptext">Do you want to Buy or Sell?</span>
                </label>
                <select id="orderType" name="orderType" class="form-select">
                    <option value="BUY">BUY</option>
                    <option value="SELL">SELL</option>
                </select>
            </div>
            <div class="mb-3 me-3 d-flex flex-column">
                <label for="marketType" class="form-label p-1 tooltip" style="background-color: #58a8d3; color: white;">
                    Market Type
                    <span class="tooltiptext">For Open price (Market), Limit price or is this a Stop-Limit order?</span>
                </label>
                <select id="marketType" name="marketType" class="form-select">                    
                    <option value="MARKET">MARKET</option>
                    <option value="LIMIT">LIMIT</option>
                    <option value="STOP-LIMIT">STOP-LIMIT</option>
                </select>
            </div>
            <div class="mb-3 me-3 d-flex flex-column">
                <label for="limitPrice" class="form-label p-1 tooltip" style="background-color: #58a8d3; color: white;">
                    Limit Price
                    <span class="tooltiptext">What is the limit price?</span>
                </label>
                <input type="number" step="0.01" id="limitPrice" name="limitPrice" min="0.01" required class="form-control" style="width: 100px;">
            </div>
            <div class="mb-3 me-3 d-flex flex-column">
                <label for="numberOfAssets" class="form-label p-1 tooltip" style="background-color: #58a8d3; color: white;">
                    #
                    <span class="tooltiptext">How many do you want to buy or sell?</span>
                </label>
                <input type="number" step="1" id="numberOfAssets" name="numberOfAssets" min="0" class="form-control"  style="width: 100px;">
            </div>
            <div class="mb-3 me-3 d-flex flex-column">
                <label for="usd" class="form-label p-1 tooltip" style="background-color: #58a8d3; color: white;">
                    USD
                    <span class="tooltiptext">What is the $ limit you want to use for this order?</span>
                </label>
                <input type="number" step="1" id="usd" name="usd" class="form-control" min="0" style="width: 100px;">
            </div>
            <div class="mb-3 me-3 d-flex flex-column">
                <label for="short" class="form-label p-1 tooltip" style="background-color: #58a8d3; color: white;">
                    Short
                    <span class="tooltiptext">With this, you can place a short order, where you borrow the selected item for the purpose of selling.</span>
                </label>
                <input type="checkbox" id="short" name="short" class="form-check-input checkbox-lg">
            </div>
            <div class="mb-3 me-3 d-flex flex-column">
                <label for="allin" class="form-label p-1 tooltip" style="background-color: #58a8d3; color: white;">
                    All In
                    <span class="tooltiptext">At Buy order you use all of your $. At Sell order you use all of your asset.</span>
                </label>
                <input type="checkbox" id="allin" name="allin" class="form-check-input checkbox-lg">
            </div>
            <div class="mb-3 me-3 d-flex flex-column">
                <label for="validDays" class="form-label p-1 tooltip" style="background-color: #58a8d3; color: white;">
                    Valid days
                    <span class="tooltiptext">How many days should the order be valid?</span>
                </label>
                <input type="number" step="1" id="validDays" name="validDays" class="form-control" min="1" value="10" required style="width: 100px;">
            </div>
            <div class="w-100 d-flex justify-content-center align-items-center tooltip">
                <button type="submit" class="btn btn-success btn-lg rounded-btn">Add Order</button>
                <span class="tooltiptext">Generates new Order, it will be evaluated at next day. You can easily delete it later (until it is still open)</span>
            </div>
        </form>
    </div>
       <div class="w-4/5 mx-0">
           <h2 class="text-l font-bold text-blue-600 my-4">Actual orders</h2>
           <table class="min-w-full bg-blue-50">
               <thead>
                   <tr>
                       <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">Asset</th>
                       <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">Buy/Sell</th>
                       <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">Type</th>
                       <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">Limit Price</th>
                       <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">#</th>
                       <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">Usd</th>
                       <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">All in</th>
                       <th class="py-2 px-4 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">Valid days</th>
                       <th class="py-1 px-1 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">
                        <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-0.5 px-0.5 rounded tooltip">
                            Modify
                            <span class="tooltiptext">Modify the limit price and/or valid days</span>
                        </button> 
                    </th>
                    <th class="py-1 px-1 border-b-2 border-gray-200 bg-blue-100 text-left text-sm leading-4 font-bold text-lightblue-600 tracking-wider text-smaller">                                
                        <button  type="submit" class="bg-red-600 hover:bg-red-700 text-white font-bold py-0.5 px-1 rounded tooltip">
                            Delete
                            <span class="tooltiptext">Delete the order</span>
                        </button>                                
                    </th>
                   </tr>
               </thead>
               <tbody>
                   {{range .orders}}
                   <tr>
                       <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">{{.Item}}</td>
                       <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">{{.Direction}}</td>
                       <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">{{.Type}}</td>     
                       {{if or (eq .Type "LIMIT") (eq .Type "STOP-LIMIT")}}
                            <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">
                                <input type="number" id="limitPrice-{{.ID}}" step="0.01" min="0.01" value="{{.LimitPrice}}" class="form-control" />
                            </td>
                       {{else}}
                            <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">{{.LimitPrice}}</td> 
                       {{end}}                        
                       <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">{{.NumberOfItems}}</td>                                
                       <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">{{.Usd}}</td>                                
                       <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">{{.AllIn}}</td>                                
                        <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">
                            <input type="number" id="validDays-{{.ID}}" step="1" min="1" value="{{.ValidDays}}" class="form-control" />
                        </td>                              
                        <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">                                        
                            <button class="bg-green-300 hover:bg-green-700 text-white font-bold py-0.5 px-0.5 rounded" onclick="handleModifyOrderButtonClick('{{.ID}}')">
                                Modify
                            </button>  
                        </td>
                       <td class="py-2 px-4 border-b border-gray-200 text-xl-smaller">
                            <div>
                                <a class="bg-red-300 hover:bg-red-700 text-white font-bold py-0.5 px-0.5 rounded" href="/deleteOrder/{{.ID}}">Delete</a>
                            </div>
                        </td>

                   </tr>
                   {{end}}
               </tbody>
           </table>
       </div>  

       <script src="/static/script_user.js"></script>
</body>
</html>