.custom-input {
    border: 2px solid rgb(138, 198, 238);
    padding: 0.5rem;
    border-radius: 0.25rem;
}
.custom-button {
    background-color: rgb(200, 232, 243);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
.custom-button:hover {
    background-color: #add8e6;
}

.notification {
    transition: all 0.35s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(#1abc9c, #16a085);
    border-bottom: 0.125rem solid #1abc9c;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0.25rem 0.25rem 0;
  }

  .notification .content {
    text-align: center;
    color: #fff;
  }


.text-smaller {
    font-size: 0.8rem; /* Example: 14px */
}

.text-xl-smaller {
    font-size: 0.6rem; /* Example: 14px */
}

@keyframes moveBand {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
.moving-band {
    animation: moveBand 30s linear infinite;
}
/* Add this CSS to your stylesheet */
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-items-start {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.me-3 {
    margin-right: 1rem; /* Adjust the margin as needed */
}

.mb-3 {
    margin-bottom: 1rem; /* Adjust the margin as needed */
}

/* Add this CSS to your stylesheet */
.checkbox-lg {
    transform: scale(1.75); /* Scale the checkbox to 2x its original size */
    transform-origin: 50% -25%; /* Ensure the checkbox scales from the top-left corner */
}

.btn-lg {
    padding: 10px 20px; /* Increase padding for a larger button */
    font-size: 1rem; /* Increase font size */
    background-color: #8ff0a5; /* Green background */
    border-color: #28a745; /* Green border */
}

.rounded-btn {
    border-radius: 50px; /* Make the button rounded */
}